In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- nonsql
- Ruby
- C

Some of the popular languages that Data Scientists use are:

ordered list:
1 Python
2 R
3 SQL

Some of the commonly used libraries used by Data Scientists include:

ordered list:
1 Panda
2 Scikit
3 Numpy

Data Science Tools

JupyterLite

Googlcollab

Jupyter Notepad

Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integer

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
print (int(200/60))

3

Author: 
David Fawver